.beams-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

@media (max-width: 640px) {
  .beams-container {
    width: 100%;
    height: 100%;
  }
}

