.curved-loop-jacket {
  min-height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: clamp(1.5rem, 3vw, 3rem);
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

